root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.lua]
indent_style = tab
indent_size = 2

# for EmmyLuaCodeStyle / LuaLS
quote_style = single
call_arg_parentheses = keep
space_around_table_field_list = true
space_after_comment_dash = true
